[submodule "3rdparty/eigen"]
	path = 3rdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "3rdparty/stb"]
	path = 3rdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "3rdparty/tinyvdb"]
	path = 3rdparty/tinyvdb
	url = https://github.com/syoyo/tinyvdb.git
